.header-container {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .header-name {
    font-size: 36px;
    font-weight: bold;
  }
  
  @media screen and (max-width: 600px) {
    .header-name {
      font-size: 28px;
    }
  }
  