.profile-pic {
  max-width: 500px;
  max-height: 500px;
}

.header-container {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-name {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
  .header-name {
    font-size: 20px;
  }
}

.portfolio-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.portfolio-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.project-card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.project-card:hover .project-title {
  visibility: visible;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  z-index: 1;
  transition: visibility 0.2s ease-in-out;
}

.project-links {
  display: none;
}

.project-card:hover .project-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
}

.resume-container {
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.resume-container:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.resume-heading {
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.resume-intro {
  color: #333333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

#download-resume {
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Helvetica Neue', sans-serif;
}

#download-resume:hover {
  background-color: #0056b3;
}

.contact-section {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.contact-header {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Helvetica Neue', sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.submit-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Helvetica Neue', sans-serif;
}
