.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .social-icon {
    margin: 0 15px;
    color: #fff;
    font-size: 24px;
  }
  
  .copyright {
    font-size: 14px;
  }
  
  @media screen and (max-width: 600px) {
    .social-icon {
      font-size: 18px;
    }
  }
  